.main-hooray{
    text-align: center;
    justify-content: center;
    display: flex;
    height: 585px;
    background-image: linear-gradient(to right, rgba(27, 235, 23, 0.822), hsl(173, 59%, 65%));
}
.submain-hooray{
    justify-content: center;
    height: 585px;
    border-radius: 5px;
    background-color: rgb(248, 235, 285);
    width: 35%;
    background-color: white;
}
.hooray{
    display: flex;
    justify-content: center;
    height: 57px;
    width: 416px;
    background-image: linear-gradient(to right, rgba(27, 235, 23, 0.822), hsl(173, 59%, 65%));
    border-radius: 14px;
    color: white;
    margin-left: 14px!important;
    margin-top: 12px!important;
}
.sucess{
    height: 184px;
    width: 189px;
    margin-top: 20px;
}
.footer_horray1{
    background-image: linear-gradient(to right, rgba(27, 235, 23, 0.822), hsl(173, 59%, 65%));
    height: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 11px;
    margin-left: -1px;
    width: 433px;
}


@media only screen and (max-width: 426px) {
    .main-hooray{
        text-align: center;
        justify-content: center;
        display: flex;
        background: white;
    }
    .submain-hooray{
        border-radius: 12px;
        background-color: rgb(248, 235, 285);
        background-color: white;
        height: 304px;
        width: 614px;
    }
    .hooray{
        display: flex;
        justify-content: center;
        height: 57px;
        width: 360px;
        background-image: linear-gradient(to right, rgba(27, 235, 23, 0.822), hsl(173, 59%, 65%));
        border-radius: 14px;
        color: white;
        margin-left: 20px !important;
        margin-top: 11px !important;
    }
    .footer_horray1{
        background-image: linear-gradient(to right, rgba(27, 235, 23, 0.822), hsl(173, 59%, 65%));
        height: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 11px;
        margin-left: 5px;
        width: 225px;
        margin-top:273.5px!important ;
    }
}
